.listaMoves
{
  columns: 3;
  gap: 2em;
}

ul
{
    display: block;
    flex-direction: column;
    font-size: 0.8rem;
}



@media only screen and (max-width: 1024px) {
  .listaMoves
  {
    columns: 2;
  }
}
