.CardPokeInfo
{
  flex: 1;
}



.ContentPokeInfo
{
  display: flex;
  gap: 3em;
  margin: 1.5em;
}

@media only screen and (max-width: 1024px) {
  .ContentPokeInfo
  {
    flex-direction: column;
  }
}
